body {
    font-family: 'Raleway', sans-serif;
    margin:0px;
    padding:0px;
    background-color:#222;
    color:#fff;
}

a {
    text-decoration:none;
}

::selection {
        background:#e74c3c;
}

.header {
    height:80px;
    width:100%;
    margin-bottom:10px;
}

.header-title {
    cursor:pointer;
    display:block;
    float:left;
    padding-top:10px;
    font-weight:200;
    color:#c0392b;
    font-size:50px;
    padding-left:10px;
    padding-right:10px;
    text-transform:uppercase;
    height:70px;
    transition:background-color 0.3s;
}

.header-title:hover {
    background-color:#333;
}

.header-nav {
    float:right;
}

.standard-center {
    max-width:1050px;
    margin-left:auto;
    margin-right:auto;
}

.large-center {
    max-width:1150px;
    margin-left:auto;
    margin-right:auto;
}

.header-container {
    background-color:#111;
}

.header-item {
    text-decoration:none;
	color:#DDD;
	display:block;
	cursor:pointer;
	padding-right:10px;
	padding-left:10px;
	font-weight:200;
	font-size:28px;
	padding-top:22px;
	height:58px;
    transition:background-color 0.2s;
    float:left;
}

.header-item:hover {
    background-color:#333;
}

.footer {
    margin-top:10px;
    clear:both;
    color:#ccc;
    background-color:#111;
    width:100%;
    height:70px;
}

.footer-text {
    padding-top:17px;
    font-size:13px;
    text-align:center;
}

.feed-title {
    text-transform:uppercase;
    font-size:45px;
    font-weight:200;
    padding-bottom:5px;
}

.feed-left {
    width:62%;
    padding-left:3%;
    float:left;
}

.feed-right {
    width:29%;
    padding-left:3%;
    padding-right:3%;
    float:left;
}

.feed-section-title {
    padding-top:10px;
    text-transform:uppercase;
    font-size:30px;
    font-weight:300;
}

.feed-video {
	height:260px;
	overflow:hidden;
    padding-top:5px;
    padding-right:20px;
    float:left;
    width:300px;
}

.feed-video-thumbnail {
    cursor: pointer;
    width:280px;
    height:180px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(0%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .2s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.feed-video-thumbnail:hover {
    filter: none;
    -webkit-filter: grayscale(50%);
}

.feed-video-title {
    cursor: pointer;
    font-size:24px;
    font-weight:300;
    color:#c0392b;
    text-transform:uppercase;
}

.feed-section {
    clear:both;
    padding-top:5px;
    padding-bottom:50px;
}

.feed-video-views {
    font-weight:300;
    font-family: 'Roboto', sans-serif;
}

.feed-divider {
    background-color:#c0392b;
    width:100%;
    height:1px;
}

.video-player {
    width:70%;
}

.video-title {
    text-transform:uppercase;
    font-weight:100;
    font-size:75px;
    color:#c0392b;
}

.video-description {
    font-size:20px;
    color:#ddd;
}

.about {
    font-size:25px;
    font-weight:200;
}

.about-center {
    margin:auto;
    width:1000px;
}

.filler {
    clear:both;
    height:10px;
}

.news-scroll-container {
    position: fixed;
}

.news-title {
    padding-bottom: 13px;
    text-transform:uppercase;
    font-size:42px;
    font-weight:200;
}

.news-item {
    padding-left: 20px;
    padding-right: 20px;
    background-color:#292929;
    cursor:pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    display:block;
    transition:background-color 0.3s;
}

.news-item:hover {
    background-color:#333;
}

.news-headline {
    font-size:20px;
    font-weight:200;
    text-transform:uppercase;
    color:#c0392b;
}

.news-summary {
    color:#ccc;
}

.news-container {
    height:410px;
    overflow:hidden;
    overflow-y: scroll;
}

.premium {
    color: #ffd700;
}

#ng-view {
}

.link_container {
	margin:auto;
	max-width:800px;
}

.link {
	font-weight:200;
	font-size:60px;
	color:#ddd;
	transition:background-color 0.3s;
}

.link:hover {
	background-color:#333;
}

#premium-signup-container {
	position:fixed;
    background-color:#000;
    opacity: .7;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index:10;
}


#premium-signup {
	z-index:20;
	position:fixed;
	margin:auto;
	left: calc(50% - 400px);
	top:20px;
	background-color: #aaa;
    width: 800px;
}

#premium-close {
    
}

.standard-list {
    list-style-type: none;
    margin: 0px;
}

.tags-left-container {
    border-right: 1px solid #ccc;
	float:left;
	width:20%;
}

.tags-left-item {
    width: 60%;
}

.tags-left-item a {
    border-radius: 4px;
    padding: 3px;
    font-weight: 200;
    font-size: 23px;
    display: block;
    width: 90%;
	color:white;
	transition:background-color 0.2s;
}

.tags-left-item a:hover {
	background-color:#c0392b;
    cursor: pointer;
}

.tags-right-container {
	float:left;
    width:calc(77% - 1px);
	padding-left:3%;
}

.tags-right-top {
    margin-bottom: 10px;
    border-radius: 4px;
	width:100%;
	height:80px;
	background-color:#333;
    padding-left: 10px;
}

.tags-right-top-title {
    padding-left: 5px;
    padding-top: 13px;
    color: #ddd;
    font-weight: 600;
    font-size: 38px;
    clear: both;
    font-family: Roboto Condensed, sans-serif;
}

.tags-right-video-container {
	float:left;
	width:300px;
}

.tags-selected {
    font-weight: 700 !important;
}

.tags-search {
    float: left;
}

.tags-search-clear {
    float: right;
    
}

.tags-search-query-clear {

}

.tags-search-divider {
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #ccc;
}

@media screen and (min-width:1919px) {
	.standard-center {
    	max-width:1460px;
    	margin-left:auto;
    	margin-right:auto;
	}

	.large-center {
	    max-width:1500px;
	    margin-left:auto;
	    margin-right:auto;
	}
	
	.feed-left {
	    width:66%;
	    padding-left:3%;
	    float:left;
	}

	.feed-right {
	    width:25%;
	    padding-left:3%;
	    padding-right:3%;
	    float:left;
	}
}


::-webkit-scrollbar {
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}