<ul ng-show="{{found}}">
    <h3>{{category.name}}</h3>
    <li ng-repeat="video in category.videos">
        <a ng-href="{{video.href}}">
            <img class="feed-video-thumbnail" ng-src="{{video.thumbnail}}" />
        </a>
                
        <a ng-href="{{video.href}}">
            <div class="feed-video-title">{{video.name}}</div>
        </a>
        
        <div class="feed-video-views">VIEWS: {{video.views}}</div>
    </li>
</ul>
<div ng-hide="{{found}}"><h3>404 not found :(</h3></div>