<!DOCTYPE html>
<html ng-app="pornApp" ng-controller="DefaultController">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <link href="css/css.css" rel="stylesheet" />
    <link href="lib/fonts.css" rel='stylesheet' type='text/css'>

    <script src="lib/angular.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="lib/jquery.js"></script>
    <script src="lib/cookies.js"></script>
    <script src="lib/lorum-ipsum.js"></script>
    <script src="lib/contains.js"></script>
        
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/server.js"></script>
    <script src="js/script.js"></script>

    <title ng-bind="star.title">Porn</title>

    <script type="text/ng-template" id="partials/feed.html">
    	<div class="feed-container standard-center">

		    <div class="feed-left">
		
		        <div class="feed-title">Videos</div>
		        <div class="feed-section" ng-repeat="section in sections">
		        
		            <div class="feed-divider"></div>
		    
		            <div class="feed-section-title" ng-class="{premium: section.name == 'Premium'}">{{section.name}}</div>
		            
		            <div class="feed-video" ng-repeat="video in section.videos track by $index">
		
		                <a ng-href="{{video.href}}">
		                    <img class="feed-video-thumbnail" ng-src="{{video.thumbnail}}" />
		                </a>
		                
		                <a ng-href="{{video.href}}">
		                    <div class="feed-video-title">{{video.name}}</div>
		                </a>
		                
		                <div class="feed-video-views">VIEWS: {{video.views}}</div>
		             </div>
		        </div>
		    </div>
		    
		    <div class="feed-right">

                <div class="news-scroll-container">
		        
    		        <div class="news-title">News</div>
    		        <div class="news-container">
    		        
    		            <a ng-href="{{article.href}}" class="news-item" ng-repeat="article in news">
    		                
    		                <div class="news-headline">{{article.headline}}</div>
    		                <div class="news-summary">{{article.summary}}</div>
    		                
    		            </a>
    		        
    		        </div>
                </div>
		
		    </div>
		
		</div>

    </script>

    <script type="text/ng-template" id="partials/video.html">
        <div ng-show="found && (premium() || !video.premium)">

            <div ng-show="found" class="standard-center">
            
                <video class="video-player" controls>
                    <source ng-src="{{video.src}}" type="video/mp4">
                    Your browser does not support the video tag fucktard.
                </video>
                
                <div class="video-title">{{video.name}}</div>
                <div class="video-description">{{video.description}}</div>
                
            
            </div>
        
        </div>

        <div ng-show="found && (video.premium && !premium())">

            <h3 class="premium">You need premium bro</h3>
            
        </div>


        <div ng-hide="found">
            
            <div class="404 standard-center">404 Page not found, this porn video is not yet created... :(</div>
            
        </div>
    </script>

    <script type="text/ng-template" id="partials/article.html">
        <div ng-show="{{found}}">

            <h3>{{article.headline}}</h3>
            <img ng-src="{{article.image}}" />
            <p>{{article.content}}</p>

        </div>
        <div ng-hide="{{found}}"><h3>404 not found :(</h3></div>
    </script>

    <script type="text/ng-template" id="partials/videos.html">

        <div class="tags-left-container">

            <input type="text" ng-model="tagQuery" class="tags-search" />
            <div class="tags-search-query-clear" ng-show="showTagsQueryClear()" ng-click="clearTagQuery()">X</div>
 
            <div class="tags-search-clear" ng-click="clearTags()" ng-show="showTagsClear()">
            Clear search
            </div>

            <div class="tags-search-divider"></div>

            <div class="tags-left-item" ng-repeat="tag in tags" ng-show="showTag(tag)">
                <a ng-class="{'tags-selected': selected(tag)}" ng-click="toggleTag(tag, selected(tag))">{{tag}}</a>
            </div>
        </div>
        
        <div class="tags-right-container">
        
            <div class="tags-right-top">

                <div class="tags-right-top-title">
                {{currentCategory.name}}
                </div>
                
            </div>
            
            <div class="feed-video" ng-repeat="video in videos" ng-show="showVideo(video.tags)">
                    
                <a ng-href="{{video.href}}">
                    <img class="feed-video-thumbnail" ng-src="{{video.thumbnail}}" />
                </a>
                
                <a ng-href="{{video.href}}">
                    <div class="feed-video-title">{{video.name}}</div>
                </a>
                
                <div class="feed-video-views">VIEWS: {{video.views}}</div>

            </div>
            
        </div>

    </script>

    <script type="text/ng-template" id="partials/about.html">
        <div class="about about-center">{{about}}</div>
    </script>
    
    <script type="text/ng-template" id="partials/links.html">
    
        <div class="link_container" ng-repeat="link in links">
            <a class="link" ng-href="{{link.href}}">{{link.name}}</a>
        </div>
        
    </script>
    
</head>
<body>

    <div class="header-container">
        <header class="header large-center">
            <a class="header-title" href="#">{{star.title}}</a>
            
            <nav class="header-nav">
                
                <a href="#/videos" class="header-item">Videos</a>
                <a href="#/links" class="header-item">Links</a>
                <a href="#/about" class="header-item">About</a>
                <a ng-click="togglePremiumSignup(true)" class="header-item premium">Go Premium</a>
                
            </nav>
        </header>
    </div>

	<div ng-show="premiumSignup" id="premium-signup">
        	<img alt="can\'t\'tcel" id="premium-close" src="res/close.png" ng-click="togglePremiumSignup(false)" />
   		</div>

    <div id="premium-signup-container" ng-show="premiumSignup" ng-click="togglePremiumSignup(false)">
    </div>
    
    <div class="filler"></div>
    
    <div class="standard-center">
        <div ng-view id="ng-view"></div>
    </div>
    
    <div class="filler"></div>
    
    <footer class="footer">
            <div class="large-center">
                    <div class="footer-text">{{footer}}</div>
            </div>
    </footer>
</body>
</html>